*{
	margin: 0;
	padding: 0;
}

body{
	background: black;

}
#contenido div{
	margin: 0 auto;
	width: 900px;
	font-family: 'Dancing Script', cursive;
	display: flex;
	}

img{
box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.88);
}

#titulo{
	width: 100%;
	height: auto;
	background: #5b7989;
	color: white;
	border-radius: 10px 10px 0 0;
	display: flex;
	display:-webkit-flex;
	display:-webkit-box;
}

#tex{
	width: 70%;
}

#tex h1{
	margin-top: 5px;
	text-align: left;
	margin-left: 20px;
	text-shadow: 2px 0px 0px #02010a;
}

#menu {
width: 30%

}

#menu ul{
	list-style: none;
	display: flex;
	display:-webkit-flex;
	display:-webkit-box;
}

#menu li a {
display: block;
padding: 10px;
text-decoration: underline;
margin: auto;
}

#menu li:hover{
background: rgb(27, 14, 107);
}

#menu li a:focus{
text-decoration: none;

}

#fotos1{
	background:#d5c75f;
	display: flex;
	display:-webkit-box;
	display:-webkit-flex;
	flex-direction: row;
	width:100%;
	height: auto;
}

#foto-1{
	width: 33%;
	padding: 10px;
	margin: 10px;
}

#foto-1 img{
	width: 100%;
  margin: auto;
  display: block;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

#foto-2{
	width: 33%;
	padding: 10px;
	margin: 10px;
}

#foto-2 img{
	width: 100%;
  margin: auto;
  display: block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#foto-3{
	width: 33%;
	padding: 10px;
	margin: 10px;
}

#foto-3 img{
	width: 100%;
  margin: auto;
  display: block;
	filter: sepia(90%);
	-webkit-filter: sepia(90%)
}

#fotos2{
	background:#d5c75f;
	display: flex;
	display:-webkit-box;
	display:-webkit-flex;
	flex-direction: row;
	width:100%;
	height: auto;
}

#foto_1{
	width: 30%;
	padding: 10px;
	margin: 10px;
}

#foto_1 img{
	width: 100%;
  margin: auto;
  display: block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#foto_2{
	width: 30%;
	padding: 10px;
	margin: 10px;
}

#foto_2 img{
	width: 100%;
  margin: auto;
  display: block;
}

#foto_3{
	width: 30%;
	padding: 10px;
	margin: 10px;
}

#foto_3 img{
	width: 100%;
  margin: auto;
  display: block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#pie_pag{
	background: #C6d5c5;
	display: flex;
	display:-webkit-box;
	display:-webkit-flex;
	flex-direction: row;
	width:100%;
	height: auto;
	border-radius: 0 0 10px 10px;
}

#contacto{
	width: 25%;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

#derechos{
	width: 25%;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

#redes{
	width: 25%;
	text-align: center;
	padding: 10px;
	margin: 10px;

}

#terminos{
	width: 25%;
	text-align: center;
	padding: 10px;
	margin: 10px;

}

#redes img{
	width: 15%;
	height: auto;
	box-shadow: none;
}

@media screen and (max-width:900px){
	#contenido div{
		width: 90%;
		margin: 0px auto;
		display: block;
	}
	
}
